<input type="text"  placeholder="add task" #task [(ngModel)] = "taskname"/>
<select [(ngModel)]="optName">
<option value="{{opt.name}}" *ngFor="let opt of options" >{{ opt.name }}</option>
</select>
<button (click)="addtask(task.value)">add</button>
<br />
<br>

<div class="main">

  <div class="parent-div-1">
    <div class="child-div-1">todo</div>
    <p *ngIf="list.length == 0">list is empty</p>
    <div *ngFor="let item of list; let i = index">
      <ul>
        {{
          item.name
        }}
        <div>
        {{
          item.opts
        }}
      </div>
        <div class="buttons">
          <button (click)="removetask(i)" [ngClass]="buttoncolors[1]">x</button>
          <button (click)="addtoProgress(item.name, i)">></button>
        </div>
      </ul>
    </div>
  </div>

  <div class="parent-div-2">
    <div class="child-div-2">in-progress</div>
    <p *ngIf="secondlist.length == 0">list is empty</p>
    <div *ngFor="let item of secondlist; let i = index">
      <ul>
        {{
          item.name
        }}
        <div>
          {{
            item.opts
          }}
        </div>
        <div class="buttons">
          <button
            (click)="secondToFirst(item.name, i)"
            [ngClass]="buttoncolors[0]"
          >
            <
          </button>
          <button (click)="addtoDone(item.name, i)">></button>
        </div>
      </ul>
    </div>
  </div>

  <div class="parent-div-3">
    <div class="child-div-3">done</div>
    <p *ngIf="thirdlist.length == 0">list is empty</p>
    <div *ngFor="let item of thirdlist; let i = index">
      <ul>
        {{
          item.name
        }}
        <div>
          {{
            item.opts
          }}
        </div>
        <div class="buttons">
          <button (click)="addfromDonetoProgress(item.name, i)"><</button>
        </div>
      </ul>
    </div>
  </div>
</div>
