* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
button{
  background-color: blue;
  color: white;
  border-radius: 5px;
  width: 5rem;
  font-size: 2rem;
  border: none;
  justify-content: flex-end;
}
header{
  display: flex;
  gap: 2rem;
  height: 3rem;
  margin: 1rem 0 1rem 2rem;
  input {
    width: 15rem;
    font-size: 15px;
    padding-left:1rem;
  }

  select {
    padding-left:7px;
    font-size:15px;
  }
}

.main {
  display: flex;
  gap: 2rem;
  margin-left: 2rem;
  .parent-div-1,.parent-div-2,.parent-div-3 {
    width: 30%;
    height: 50%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    .child-div-1,.child-div-2,.child-div-3 {
      padding-left: 2rem;
      width: 100;
      height: 3rem;
      background-color: rgba(217, 217, 217, 0.7);
      font-size: 2rem;
    }
  }
}

.main ul {
  height: 5rem;
  border: 1px solid black;
  border-radius: 5px;
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem ;
  padding-top: 2rem;
  .item{
    flex-direction: row;
    justify-content: space-between;
    .itemopt1, .itemopt2, .itemopt3{
      color: white;
      margin-top: 1rem;
      background-color: blue;
      opacity: 0.7;
      border-radius: 3px;
    }
    .buttons{
      .btnsec{
        margin-left: 2rem;
      }
  }
  }
}
p {
  padding: 1rem 0 1rem 2rem;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}

